<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<h1 class="">This is maintenance</h1>
<h2 style="color: cadetblue"> This is your maintenance Page</h2>
{{>footer}}

</body>
</html>